<div class="container">
    <div class="titlepobj">Listing Pages</div>
<% @pages.each do |page| %>
<div class="spacewaste"></div>
        <div class="title" data-post="<%= page.id %>"><%= link_to "#{page.title}", page %> by <%= page.name %></div>
        <div class="options"
        <% if user_signed_in? %>
        <% if page.user_id == current_user.id %>
        data-ismine="true"
        <% else %>
        data-ismine="false"
        <% end end %>
        data-post="<%= page.id %>"><i class="bigg icon-cog"></i></div>

<% end %>
<div class="spacewaste"></div>
<% if user_signed_in? %>
        <div id="logout" class="logout">Logout</div>
        <div id="new" class="new">New</div>
<% else %>
        <div id="login" class="login clicky">Login</div>
<% end %>
</div>
    <div id="menu">
      <ul id="mint">
        <li id="view">View</li>
        <li id="edit">Edit</li>
        <li id="dele">Delete</li>
      </ul>
    </div>
    <div id="osx-modal-content">
      <div id="osx-modal-title">Edit Page</div>
      <div class="close"><a href="#" class="simplemodal-close">x</a></div>
      <div id="osx-modal-data">
        
      </div>
    </div>
    <div id="nullbox"></div>